@import '../../styles/mixins.scss';

.companies {
	padding-block: 4rem;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 3rem 2rem;
		flex-wrap: wrap;
	}

	&__card {
		display: flex;
		align-items: center;
		gap: 1rem;
		text-align: center;
		padding: 1.5rem;
		border-radius: 0.5rem;
	}

	img {
		width: 2.5rem;

		@include respond(phone) {
			margin-inline: auto;
		}
	}

	h3 {
		font-size: 1.8rem;
	}
}
